* {
  box-sizing: border-box;
}

<<<<<<< HEAD
=======

>>>>>>> changed css to use inline-flex for most elements
body {

  margin: 0;
<<<<<<< HEAD
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
=======
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
>>>>>>> changed css to use inline-flex for most elements
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: red; */
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  /* color:olive; */
  text-decoration: none;
  /* color : white; */
  /* cursor: crosshair; */
}

code {
<<<<<<< HEAD
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
=======
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
>>>>>>> changed css to use inline-flex for most elements
}

.header {
  position: relative;
  height: 150px;
}

.header-title {
  width: 100px;
  position: absolute;
  /* left: 25vw; */
  left: 20%;
  right: 20%;
  top: 30px;
}

.header-title-circle {
  height: 100px;
  width: 100px;
  background-color: #f1770d;
  border-radius: 50%;
  position: absolute;
  /* top : 30px; */
  /* left: 100px; */
  z-index: 1;
}

.header-title-main {
  /* background-color : yellow; */
  /* padding-left: 26vw; */
  position: absolute;
  top: 20px;
  left: 35px;
  color: #047aeb;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
}

.header-subtitle {
  /* background-color : yellow; */
  position: absolute;
  left: 100px;
  top: 70px;
  width: 30vw;
  z-index: 2;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.steps-dates-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-steps {
  width: 500px;
  height: 250px;
  /* background: turquoise; */
  /* display: flex; */
  position: relative;
  display: inline-flex;
}

.info-step-1 {
  /* display: inline; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 30px;
  top: 0px;
  height: 100px;
  width: 100px;
  background-color: #047aeb;
  border-radius: 50%;
}

.info-step-1-1 {
  color: white;
}

.info-step-1-text {
  color: white;
}

.info-step-2 {
  /* display: inline; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 110px;
  top: 100px;
  height: 80px;
  width: 80px;
  background-color: #f1770d;
  border-radius: 50%;
}

.info-step-2-2 {
  color: white;
  /* font-weight: bold; */
}

.info-step-2-text {
  color: white;
  /* font-weight: bold; */
}

.info-step-3 {
  /* display: inline; */
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 40px;
  top: 150px;
}

.info-step-3-3 {
  color: white;
}

.info-step-3-text {
  color: white;
}


.time-range-tile {
  background: #047aeb;
  width: 500px;
  height: 250px;
  display: inline-flex; 
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
}

.start-date-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-date-container {
  /* background: red; */
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-date-text {
  font-size: 16px;
  font-weight: bold;
  /* color: red; */
}

.end-date-text {
  font-size: 16px;
  font-weight: bold;
}

.broker-select-tile {
  background: #f1770d;
  width: 500px;
  height: 300px;
  margin-left: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}



.file-input-tile {

  margin-left : 5vw;
  display: inline-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 280px;
  margin-right: 300px;
  background-color: black;
  border-radius: 50%;
  color: white;
}

.file-input-tile::after{
  content: "\a";
  white-space: pre;
}

.trades {
  width: 20%;
  margin-left: 25vw;
  margin-top: 20px;
  margin-right: 5vw;
  height: 150px;
  width: 150px;
  background-color: #047aeb;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.trades-text {
  color: white;
  text-align: center;
}

.trades-number {
  background-color: #c4c4c4;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
}
/* 
.trades-report a{ 
  text-decoration: underline;
  position: absolute;
  top : 110px;
  left  : 70px;
  z-index: 2;
  color:  white; 
} */

.dividends {
  width: 20%;
  margin-right: 5vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #f1770d;
  border-radius: 50%;
}

.dividends-text {
  color: white;
  text-align: center;
}

.dividends-number {
  margin-top: 10px;
  background-color: #c4c4c4;
  width: 80px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

.dividends-report a {
  position: absolute;
  top: 110px;
  left: 70px;
  z-index: 2;
  color: white;
  text-decoration: underline;
}

.fees {
  width: 20%;
  margin-right: 5vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
}

.fees-text {
  color: white;
  text-align: center;
}

.fees-number {
  margin-top: 10px;
  background-color: #c4c4c4;
  width: 80px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

.fees-report a {
  position: absolute;
  top: 110px;
  left: 70px;
  z-index: 2;
  color: white;
  text-decoration: underline;
}

/* .drop-file-text {
  margin-bottom : 1vh;
}  */
